html, body {
  border-style: none;
  height: 100%;
}
body {
  margin: 30px;
  padding: 0px;
  background: #ebebeb url(images/bg01.png) repeat scroll 0% 50%;
  font-weight: 300;
  font-family: Helvetica Neue;
  font-size: 12pt;
  color: #363636;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
}
p, ol, ul {
  margin-top: 0px;
}
p {
  line-height: 180%;
}
strong {
}
a {
  color: #2c6503;
}
a:hover {
  text-decoration: none;
}
a img {
  border:  none;
}
.image {
}
.image img {
  display: block;
  width: 100%;
}
.image-full {
  margin: 0 0 2em;
  display: block;
  width: 100%;
}
.image-left {
  margin: 0 2em 2em 0;
  float: left;
}
.image-centered {
  margin: 0 0 2em;
  display: block;
}
.image-centered img {
  margin: 0 auto;
  width: auto;
}
hr {
  display: none;
}
#wrapper {
  background: #ffffff url(images/bg01.png) repeat scroll 0% 50%;
}
.container {
  margin: 0px auto;
  width: 1200px;
}
.clearfix {
  clear: both;
}
#header {
  position: relative;
  height: 150px;
}
#logo {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
}
#logo h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}
#logo a {
  text-decoration: none;
  color: #ffffff;
}
#logo span {
  margin-left: 0.5em;
  color: #ffffff;
}
#logo .icon-leaf {
  color: #698c10;
}
#menu {
  position: absolute;
  right: 0;
  top: 0;
}
#menu ul {
}
#menu li {
  display: block;
  float: left;
  text-align: center;
}
#menu li a, #menu li span {
  padding: 0em 1.5em;
  display: block;
  height: 150px;
  letter-spacing: 0.2em;
  line-height: 150px;
  text-decoration: none;
  font-size: 0.95em;
  font-weight: 600;
  text-transform: uppercase;
  outline-color: invert;
  outline-style: none;
  outline-width: 0;
  color: #ffffff;
}
#menu li:hover a, #menu li.active a, #menu li.active span {
}
#menu .current_page_item a {
  background: #ffffff url(images/bg01.png) repeat scroll 0% 50%;
  color: #333333;
}
#page {
  padding: 6em 0em 5em;
  overflow: hidden;
  position: relative;
}
#content {
  float: left;
  width: 790px;
}
#sidebar {
  float: right;
  width: 345px;
}
#sidebar .title h2 {
  font-size: 1.6em;
}
#sidebar .box1 {
  margin-bottom: 3em;
}
#footer {
}
#header-wrapper {
  background: transparent url(images/header.jpg) no-repeat scroll center top;
  overflow: hidden;
  padding-top: 450px;
  height: 150px;
}
#header-wrapper:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/bg01.png);
  opacity: 0.5;
}
#header-wrapper2 {
}
ul.style2 {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
ul.style2 li {
  border-top: 1px solid #e5e5e5;
  padding: 0.8em 0;
}
ul.style2 li:first-child {
  border-top: 0 none;
  padding-top: 0;
}
#portfolio-wrapper {
  border-top: 1px solid #d4d4d4;
  padding: 5em 0em 3em;
  background: #ebebeb url(images/bg01.png) repeat scroll 0% 50%;
}
#portfolio {
  overflow: hidden;
  text-align: center;
  color: #5c5c5c;
}
#portfolio .title h2 {
  color: #5c5c5c;
}
#portfolio .byline {
  color: #a3bd77;
}
#portfolio .description {
  font-size: 1.5em;
}
#column1, #column2, #column3, #column4 {
  width: 282px;
}
#column1, #column2 {
  float: left;
  margin-right: 24px;
}
#column3 {
  float: left;
}
#column4 {
  float: right;
}
#copyright {
  border-top: 1px solid #d4d4d4;
  padding: 3em 0em 5em;
  overflow: hidden;
}
#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  font-size: 0.9em;
  color: #5c5c5c;
}
#copyright a {
  text-decoration: none;
  color: #5c5c5c;
}
.title {
  margin-bottom: 3em;
}
.title h2 {
  letter-spacing: 0.2em;
  font-weight: 700;
  font-size: 2em;
  color: #171717;
}
.title .byline {
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  color: #6f6f6f;
}
.button {
  padding: 0.5em 3em 0.5em 2em;
  background: #e3c714 none repeat scroll 0% 50%;
  margin-top: 1.5em;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9em;
  color: #ffffff;
}
.button:before {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
#two-column {
  padding-top: 3em;
}
#two-column .title h2 {
  font-size: 1.6em;
}
#two-column #tbox1 {
  float: left;
  width: 370px;
}
#two-column #tbox2 {
  float: right;
  width: 370px;
}
#two-column #tbox1 ul.style2, #two-column #tbox2 ul.style2 {
  margin-top: 2.2em;
}
