<dl>
<dt>
<a name="mitliagkas2011joint">&nbsp;</a>
</dt>
<dd>
<b>Joint Power and Admission Control for Ad-hoc and Cognitive Underlay
  Networks: Convex Approximation and Distributed Implementation</b><br>
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 <em>IEEE Transactions on Wireless Communications, 2011</em>.
[&nbsp;<a href="biblio_bib.html#mitliagkas2011joint">bib</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2010distributed">&nbsp;</a>
</dt>
<dd>
<b>Distributed joint power and admission control for ad-hoc and cognitive
  underlay networks</b><br>
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 In <em>Acoustics Speech and Signal Processing (ICASSP), 2010 IEEE
  International Conference on</em>, pages 3014-3017. IEEE.
[&nbsp;<a href="biblio_bib.html#mitliagkas2010distributed">bib</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2008convex">&nbsp;</a>
</dt>
<dd>
<b>Convex approximation-based joint power and admission control for cognitive
  underlay networks</b><br>
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 In <em>Wireless Communications and Mobile Computing Conference,
  2008. IWCMC'08. International</em>, pages 28-32. IEEE.
[&nbsp;<a href="biblio_bib.html#mitliagkas2008convex">bib</a>&nbsp;]

</dd>
</dl>

