
<dl>

<dt>
<a name="mitliagkas2014frogwild">&nbsp;</a>
</dt>
<dd>
<b>FrogWild! Fast PageRank Approximations on Graph Engines</b>.
 Ioannis Mitliagkas, Michael Borokhovich, Alex Dimakis, and
  Constantine Caramanis.
 <em>Preprint</em>, 2014.
[&nbsp;<a href="biblio_bib.html#mitliagkas2014frogwild">bib</a>&nbsp;| 
<a href="papers/FrogWild.pdf">.pdf</a>&nbsp;]

</dd>


<dt>
<a name="mitliagkas2014streaming">&nbsp;</a>
</dt>
<dd>
<b>Streaming PCA with Many Missing Entries</b>.
 Ioannis Mitliagkas, Constantine Caramanis, and Prateek Jain.
 <em>Preprint</em>, 2014.
[&nbsp;<a href="biblio_bib.html#mitliagkas2014streaming">bib</a>&nbsp;| 
<a href="papers/erasures2014long.pdf">.pdf</a>&nbsp;]

</dd>


<dt>
<a name="papailiopoulosfinding">&nbsp;</a>
</dt>
<dd>
<b>Finding Dense Subgraphs through Low-rank Approximations</b>.
 Dimitris&nbsp;S Papailiopoulos, Ioannis Mitliagkas, Alexandros&nbsp;G Dimakis,
  and Constantine Caramanis.
 2013.
[&nbsp;<a href="biblio_bib.html#papailiopoulosfinding">bib</a>&nbsp;|
<a href="papers/DKS_ICML.pdf">.pdf</a>&nbsp;]

</dd>


<dt>
<a name="mitliagkas2013memory">&nbsp;</a>
</dt>
<dd>
<b>Memory Limited, Streaming PCA</b>.
 Ioannis Mitliagkas, Constantine Caramanis, and Prateek Jain.
 <em>To appear in NIPS 2013 (arXiv:1307.0032)</em>, 2013.
[&nbsp;<a href="biblio_bib.html#mitliagkas2013memory">bib</a>&nbsp;| 
<a href="papers/nips2013CameraReady.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2011user">&nbsp;</a>
</dt>
<dd>
<b>User Rankings from Comparisons: Learning Permutations in High Dimensions</b>.
 I.&nbsp;Mitliagkas, A.&nbsp;Gopalan, C.&nbsp;Caramanis, and S.&nbsp;Vishwanath.
 In <em>Proc. of Allerton Conf. on Communication, Control and
  Computing, Monticello, USA</em>, 2011.
[&nbsp;<a href="biblio_bib.html#mitliagkas2011user">bib</a>&nbsp;| 
<a href="papers/userRankings2011.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2010strong">&nbsp;</a>
</dt>
<dd>
<b>Strong Information-Theoretic Limits for Source/Model Recovery</b>.
 I.&nbsp;Mitliagkas and S.&nbsp;Vishwanath.
 In <em>Proc. of Allerton Conf. on Communication, Control and
  Computing, Monticello, USA</em>, 2010.
[&nbsp;<a href="biblio_bib.html#mitliagkas2010strong">bib</a>&nbsp;| 
<a href="papers/strongConverse2010.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2010distributed">&nbsp;</a>
</dt>
<dd>
<b>Distributed joint power and admission control for ad-hoc and cognitive
  underlay networks</b>.
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 In <em>Acoustics Speech and Signal Processing (ICASSP), 2010 IEEE
  International Conference on</em>, pages 3014-3017. IEEE.
[&nbsp;<a href="biblio_bib.html#mitliagkas2010distributed">bib</a>&nbsp;]

</dd>


<dt>
<a name="mitliagkas2011joint">&nbsp;</a>
</dt>
<dd>
<b>Joint Power and Admission Control for Ad-hoc and Cognitive Underlay
  Networks: Convex Approximation and Distributed Implementation</b>.
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 <em>IEEE Transactions on Wireless Communications</em>.
 accepted.
[&nbsp;<a href="biblio_bib.html#mitliagkas2011joint">bib</a>&nbsp;]

</dd>


<dt>
<a name="mitliagkas2008convex">&nbsp;</a>
</dt>
<dd>
<b>Convex approximation-based joint power and admission control for cognitive
  underlay networks</b>.
 I.&nbsp;Mitliagkas, ND&nbsp;Sidiropoulos, and A.&nbsp;Swami.
 In <em>Wireless Communications and Mobile Computing Conference,
  2008. IWCMC'08. International</em>, pages 28-32. IEEE.
[&nbsp;<a href="biblio_bib.html#mitliagkas2008convex">bib</a>&nbsp;]

</dd>
</dl>

