
<dl>

<dt>
<a name="mitliagkas2017improving">&nbsp;</a>
</dt>
<dd>
<b>Improving Gibbs Sampler Scan Quality with DoGS</b><br>
Ioannis Mitliagkas and Lester Mackey
	<em>In submission</em>
[<a href="papers/marginal-gibbs.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="he2016scan">&nbsp;</a>
</dt>
<dd>
<b>Scan Order in Gibbs Sampling: Models in Which it Matters and Bounds on How Much</b><br>
Bryan He, Christopher De Sa, Ioannis Mitliagkas, and Christopher Ré
	<em>NIPS 2016</em>
[<a href="http://arxiv.org/pdf/1606.03432">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="zhang2016when">&nbsp;</a>
</dt>
<dd>
<b>Parallel SGD: When does averaging help?</b><br>
Jian Zhang, Christopher De Sa, Ioannis Mitliagkas, and Christopher Ré
	<em>OptML workshop at ICML 2016</em>
[<a href="http://arxiv.org/pdf/1606.07365">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2014streaming">&nbsp;</a>
</dt>
<dd>
<b>Streaming PCA with Many Missing Entries</b><br>
 Ioannis Mitliagkas, Constantine Caramanis, and Prateek Jain.
 <em>Preprint</em>, 2015.
[&nbsp;<a href="biblio_bib.html#mitliagkas2014streaming">bib</a>&nbsp;| 
<a href="papers/erasures2014long.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2013memory">&nbsp;</a>
</dt>
<dd>
<b>Memory Limited, Streaming PCA</b><br>
 Ioannis Mitliagkas, Constantine Caramanis, and Prateek Jain.
 <em>NIPS 2013</em>, 2013.
[&nbsp;<a href="biblio_bib.html#mitliagkas2013memory">bib</a>&nbsp;| 
<a href="papers/nips2013CameraReady.pdf">.pdf</a>&nbsp;]

</dd>

<dt>
<a name="mitliagkas2011user">&nbsp;</a>
</dt>
<dd>
<b>User Rankings from Comparisons: Learning Permutations in High Dimensions</b><br>
 I.&nbsp;Mitliagkas, A.&nbsp;Gopalan, C.&nbsp;Caramanis, and S.&nbsp;Vishwanath.
 In <em>Proc. of Allerton Conf. on Communication, Control and
  Computing, Monticello, USA</em>, 2011.
[&nbsp;<a href="biblio_bib.html#mitliagkas2011user">bib</a>&nbsp;| 
<a href="papers/userRankings2011.pdf">.pdf</a>&nbsp;]

</dd>


<dt>
<a name="mitliagkas2010strong">&nbsp;</a>
</dt>
<dd>
<b>Strong Information-Theoretic Limits for Source/Model Recovery</b><br>
 I.&nbsp;Mitliagkas and S.&nbsp;Vishwanath.
 In <em>Proc. of Allerton Conf. on Communication, Control and
  Computing, Monticello, USA</em>, 2010.
[&nbsp;<a href="biblio_bib.html#mitliagkas2010strong">bib</a>&nbsp;| 
<a href="papers/strongConverse2010.pdf">.pdf</a>&nbsp;]

</dd>

</dl>

