<footer class="site-footer">
  <div class="wrap">
    <div>
      {{ site.title }}<br>
      Mila and DIRO, Université de Montréal<br>
      <a href="mailto:{{ site.email }}">{{ site.email }}</a>
    </div>
    <ul>
      <li><a href="{{ '/cv.pdf' | relative_url }}">CV</a></li>
      <li><a href="{{ site.links.scholar }}">Google Scholar</a></li>
      <li><a href="{{ site.links.dblp }}">DBLP</a></li>
      <li><a href="{{ site.links.orcid }}">ORCID</a></li>
      <li><a href="{{ site.links.github }}">GitHub</a></li>
      <li><a href="{{ site.links.twitter }}">Twitter</a></li>
      <li><a href="{{ site.links.linkedin }}">LinkedIn</a></li>
    </ul>
  </div>
</footer>
