
.clearing-thumbs {
	list-style: none;
}

.clearing-thumbs li {
	margin-bottom: 10px;
}

.clearing-assembled {
	margin-bottom: 1.25em;
}





#imagelist ul {
        list-style-type: none;
        margin-left: 0;
        width: 800px;
        overflow: auto; /* will contain if #first is longer than #second */
} 

#imagelist li {
        margin: 0px 0;
}

#imagelist li a { 
        display: block;
        text-decoration: none;
}

 * html #imagelist li a {  /* make hover effect work in IE */
	width: 800px;
}

#imagelist li a:hover {
        background: #f5f5f5;
}

#imagelist a div em { 
        color: #444;
        display: block;
        font: normal 85%;
        line-height: 125%; 
}


#imagelist a img {
        padding: 10px;
        width:160px;
	height:160px;
	object-fit: contain;
       /* overflow: hidden;*/
}

#imagelist a div {
        padding: 10px;
        width:64%;
        float:right;
} 

#attribution a div {
  position: absolute;
  bottom: 0;
}
